 table,tr,td,a{
    background-color: rgb(24, 23, 23);
            color: rgb(212, 208, 208);
            border-color: rgb(167, 149, 118);
            border-radius: 20px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flexbox;
            margin-right: 20px;
            padding: 8px;
            align-items: center; 

        }
        .one{
    color: rgba(225, 227, 228, 0.904);
            background-color: rgb(41, 41, 41);
            display: inline-flex;
            border: 5px ;
            border-radius: 20px;
            border-style: ridge;
            border-color: rgb(74, 75, 75);
            font-family:Verdana, Geneva, Tahoma, sans-serif
        }
        .two{
            
    color: rgba(53, 35, 1, 0.863);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 5px;

        }
        .three{
             color: rgba(44, 30, 3, 0.863);
    font-family:serif;
    padding: 10px;
    margin: 5px;
        }
.four{
    color: rgba(53, 35, 1, 0.863);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    margin: 5px;
}
.six:hover{
text-decoration: none;
background-color: rgb(17, 6, 117);
}
.seven:hover{
    background-color: snow;
}          
a:hover{
    text-decoration: underline;
    color: brown;

}