h1{
    color: rgb(54, 45, 19);
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 6px 6px rgb(20, 25, 26);
    border-color: rgb(8, 8, 8);
    border-radius: 20px;
    border-width: 5px;
    border-style: ridge;
    background-color: rgb(235, 233, 231);
    display: inline;
    padding:10px;

}
h3{
    color: rgb(54, 45, 19);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h4{
    color: rgb(6, 26, 29);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    color: rgb(6, 26, 29);
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    color: rgb(234, 239, 240);
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    display: inline;
    border-color: black;
    border-radius: 20px;
    border-width: 2px;
    border-style: ridge;
    background-color: rgb(7, 5, 2);

}
a:hover{
    background-color: rgb(235, 233, 231);
    color: rgb(8, 8, 8);
    border-color: rgb(224, 216, 216);
    border-radius: 20px;
    border-width: 2px;
    border-style: ridge;
    text-align: center;
}
.one{
    color: rgb(6, 26, 29);
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
}
.links{
    display: inline;
    margin-left: 50px;
    padding-LEFT: 80px;
    margin-bottom: 30px;
}
.three{
    color: rgb(54, 45, 19);
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 4px rgb(8, 14, 15);
    border-color: rgb(8, 8, 8);
    border-radius: 20px;
    border-width: 5px;
    border-style: ridge;
    background-color: rgb(235, 233, 231);

}
