 .one{
            color: rgba(225, 227, 228, 0.904);
            background-color: rgb(41, 41, 41);
            display: block;
            border: 10px ;
            border-radius: 10px;
            border-style: ridge;
            border-color: rgb(74, 75, 75);
            margin: 10px;
            padding: 10px;
            font-family: Arial, Helvetica, sans-serif;
        }
        h3{
            color:   rgba(53, 37, 4, 0.877);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin: 10px;

        }
        h2{
            color: rgba(19, 19, 16, 0.877);
            font-style: italic;
            margin: 10px;

        }
        table,tr,td,a,li
         {
            background-color: rgb(24, 23, 23);
            color: rgb(212, 208, 208);
            border-color: rgb(167, 149, 118);
            border-radius: 20px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: inline-block;
            margin-right: 8px;
            align-items: center; 
        }
        
        .five:hover{
    background-color:rgb(252, 251, 250);
    cursor:pointer;
    color: black;

        }
        p{
            font-style: italic;
            margin: 10px;
        }
        .three{
            color: rgba(225, 227, 228, 0.904);
            background-color: rgb(41, 41, 41);
            display: inline;
            border: 5px ;
            border-radius: 20px;
            border-style: ridge;
            border-color: rgb(74, 75, 75);
            font-family:'arial black', 'arial bold';

        }
     
        
        
       
        
            
    

    

    
